html, body {
    background-color: #FFFFFF;
}

.wrapper {
    width: 1024px;
    margin: 20px auto;
}

.wrapper .title {
    font-family: 微软雅黑,sans-serif;
    font-size: 30px;
    color: #505050;
    margin-top: 150px;
}

.wrapper img#logo {
    background: #000000;
    width: 500px;
    height: 400px;
    align:center;
    display: block;
    margin: 20px auto;
}

