<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Weibo Grep</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Do Query </description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.weibogrep.grep.servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/query.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.weibogrep.grep.servlet.StartupListener</listener-class>
  </listener>
  <servlet>
    <description>Notif the web that the index is rebuild</description>
    <display-name>RenewIndexServlet</display-name>
    <servlet-name>RenewIndexServlet</servlet-name>
    <servlet-class>com.abysshal.snsgrep.servlet.RenewIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenewIndexServlet</servlet-name>
    <url-pattern>/RenewIndexServlet</url-pattern>
    <url-pattern>/renewindexnotif.do</url-pattern>
  </servlet-mapping>
</web-app>
